@page "/GetOrganizations"
@inject HttpClient _httpClient;
@inject ILocalStorageService _LocalStorageService;
@using Marketplace.Organizations.Blazor.Models
@using Blazored.LocalStorage
@using Marketplace.Organizations.Blazor.Services
@inject CategoryServices CategoryServices;
<h3>GetOrganizations</h3>
<div class="row col-lg-12 col-md-12 col-sm-12 gap-3 d-flex justify-content-center" style="height:50px">
  
    @foreach(var organization in Organizations){
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@organization.Logo" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">@organization.Name</h3>
                <p class="card-text">@organization.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Contacts:<strong>@organization.Contact</strong></li>
                @foreach (var address in organization.Addresses!)
                {
                    <li class="list-group-item">Location:@address.Address</li>
                }
                   @foreach (var user in organization.Users!)
                   {
                       <li class="list-group-item">OrganizationId:@user.OrganizationId</li>
                       <li class="list-group-item">OwnerId:@user.UserId</li>
                   }
            </ul>
        </div>
    }
</div>
@code {
    private List<OrganizationModel>? Organizations = new ();
    protected override async Task OnInitializedAsync()
    {
        Organizations = await CategoryServices.Organizations();
    }
}