@using Marketplace.Blazor.AccountModels
@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject HttpClient Client
@inject ILocalStorageService Storage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        @if (string.IsNullOrEmpty(Token))
        {
            <div class="top-row px-4">
                <a class="btn btn-danger" href="login" target="_blank">Login</a>
            </div>
        }
        else
        {
            <div class="top-row px-4">
                <a class="btn btn-primary" href="profile" target="_blank">Profile</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{

    private string? Token { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Token = await Storage.GetItemAsStringAsync("token");
        StateHasChanged();
    }

}