@page "/Profile"
@inject HttpClient Http
@using Blazored.LocalStorage
@using Marketplace.Blazor.Models
@inject ILocalStorageService Storage
<h3>Profile</h3>

<p>Name: @user?.Name</p>
@code {
    User user = new User();
    protected override async Task OnInitializedAsync()
    {
        var token = await Storage.GetItemAsStringAsync("token");
        var request = new HttpRequestMessage(HttpMethod.Get, "/account/profile");
        request.Headers.Add("Authorization",$"Bearer {token}");
        var respones = await Http.SendAsync(request);
        user = await respones.Content.ReadFromJsonAsync<User>();
    }
}