@page "/counter"
@using Marketplace.Organizations.Blazor.Entities;
@using OrganizationBlazor.Services

@inject HttpClient Http
@inject OrganizationService OrganizationService

<h3>CreateOrganization</h3>

<form class="row g-3" style="width: 400px " enctype="multipart/form-data">
    <input name="Photo" @bind-value="createOrganization.Logo" class="form-control" type="file" />
    <input name="Name" @bind-value="createOrganization.Name" class="form-control" type="text" placeholder="Name" />
    <input name="Username" @bind-value="createOrganization.Description" class="form-control" type="text" placeholder="Description" />
    <input name="Password" @bind-value="createOrganization.Contact" class="form-control" type="password" placeholder="Contact" />
    <input name="ConfirmPassword" @bind-value="address.Address" class="form-control" type="password" placeholder="Confirm password" />
    <button class="form-control" @onclick="AddOrganization">Create</button>
</form>

@code {
    private CreateOrganizationModel createOrganization = new CreateOrganizationModel();
    private CreateAddressModel address = new CreateAddressModel();

    private async Task AddOrganization()
    {
        createOrganization.Addresses.Add(address);
        await OrganizationService.Post<CreateOrganizationModel>("/organizations", createOrganization);
    }
}




