@page "/GetOrganizations"
@inject HttpClient _httpClient;
@inject ILocalStorageService _LocalStorageService;
@inject NavigationManager _navigation;
@inject RequestManager _request 
@using Marketplace.Organizations.Blazor.Managers;
@using Marketplace.Organizations.Blazor.Models
@using Blazored.LocalStorage

<h3>GetOrganizations</h3>
<div class="row col-lg-12 col-md-12 col-sm-12 gap-3 d-flex justify-content-center" style="height:50px">
  
    @foreach(var organization in organizations){
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@organization.Logo" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">@organization.Name</h3>
                <p class="card-text">@organization.Description</p>
            </div> 

            <button type="button" class="btn btn-link" @onclick="async () => await OpenUpdatePage(organization.Id)" >more...</button>
        </div>
    }
</div>

@code {
    private List<OrganizationModel>? organizations = new List<OrganizationModel>();
    protected override async Task OnInitializedAsync()
    {
        organizations = await _request.Get<List<OrganizationModel>>("/organizations/GetOrganizations");
    }

    public async Task OpenUpdatePage(Guid organizationId)
    {
        _navigation.NavigateTo($"GetById/{organizationId}");

    }
}